@mixin device($screenWidth, $font-size) {
    @media (max-width: $screenWidth) {
        html {
            font-size: $font-size;
        }
        #todo-header {
            height: 2rem;
            width: 100%;
            background-size: 100%;
            background-repeat: no-repeat;
            background-image: url("../images/Landscape-Color.jpg");
            background-position: center;
        }
    }
}

@include device(800px, 10px);
